{% extends 'aplicacion/index.html' %}
    
{% block titulo %}
<h1 class="text-white-40 mx-auto mt-2 mb-5">Productos</h1>

{% endblock titulo %}



{% block contenido %}

<table>

    <tr>

        <td width="200"><h2>Productos</h2></td>

        <td>

            <a

            href="{% url 'productoForm' %}"

            class="btn btn-primary btn-sm"

            ><i class="fa fa-plus fa-lg" title="Crear"> </i>

            </a>

        </td>        
        <td>

            <a

            href="{% url 'buscar_productos' %}"

            class="btn btn-success btn-sm"

            ><i class="fa fa-search fa-lg" title="Buscar"> </i>

            </a>

        </td>

    </tr>

</table>
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Item</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        
        {% for p in productos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.nro_item }}</td>
                <td>{{ p.precio }}</td>
                <td>

                    <a
    
                      href="{% url 'productoUpdate' p.id %}"
    
                      class="btn btn-primary"
    
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
    
                      ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
    
                    </a>
    
                    <a
    
                      href="{% url 'productoDelete' p.id %}"
    
                      class="btn btn-danger"
    
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
    
                      ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
    
                    </a>                
    
                </td>

            </tr>
        {% endfor %}
            
    </tbody>
</table>
{% endblock contenido %}
    
       